<% provide(:title, 'My pictures') %>
<h1>My pictures</h1>

<div class="row">
  <% @pictures.each do |picture| %>
    <div class="col-md-2 col-xs-6 text-center">
      <p><%= picture.title %></p>
      <%= image_tag('/uploads/' + picture.filename, height: '120', alt: picture.title) %>
      <p class="mt-2"><%= link_to('Tweet', tweet_path(picture.id), class: 'btn btn-sm btn-secondary') unless session[:access_token].nil? %></p>
    </div>
  <% end %>
</div>